[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
[user]
    name = Denis Bykov
    email = **********
[color]
    ui = true
[core]
    editor = vim
    pager = less
[push]
    default = simple
